__pycache__
*/.pyc
*.prof

**/library/**
**/configs/*
**/forces/*
**/books/*
**/lookup_tables/*
**/books_compressed/*
**temp_multi_threaded_files


**/target/**
**/optimization_files/**

/env
*.env
*.DS_Store

**/site/*

