asn1crypto==1.5.1
babel==2.17.0
beautifulsoup4==4.12.3
boto3==1.35.97
botocore==1.35.97
bottle==0.13.2
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
CProfileV==1.0.7
cycler==0.12.1
flameprof==0.4
fonttools==4.55.3
ghp-import==2.1.0
idna==3.10
Jinja2==3.1.5
jmespath==1.0.1
kiwisolver==1.4.8
lxml==5.3.0
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.0
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.3
mkdocs-material-extensions==1.3.1
mypy-extensions==1.0.0
numpy==2.2.1
packaging==24.2
paginate==0.5.7
pandas==2.2.3
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
Pygments==2.19.1
pymdown-extensions==10.14.3
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-env==1.0.0
pytz==2024.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
redshift==0.0.1
redshift-connector==2.1.5
regex==2024.11.6
requests==2.32.3
s3transfer==0.10.4
scramp==1.4.5
setuptools==75.8.0
six==1.17.0
snakeviz==2.2.2
soupsieve==2.6
toml==0.10.2
tornado==6.4.2
typing==3.7.4.3
tzdata==2024.2
urllib3==2.3.0
watchdog==6.0.0
XlsxWriter==3.2.0
zstandard==0.23.0
-e git+https://github.com/twist-gaming/zuck-engine.git@119436c9dc678d0bc6497bf566f880aefa0223b4#egg=Zuck
