anyio==4.8.0
asn1crypto==1.5.1
babel==2.17.0
beautifulsoup4==4.12.3
blinker==1.9.0
boto3==1.35.97
botocore==1.35.97
bottle==0.13.2
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
CProfileV==1.0.7
cycler==0.12.1
dep-logic==0.4.10
distlib==0.3.9
filelock==3.17.0
findpython==0.6.2
flameprof==0.4
fonttools==4.55.3
ghp-import==2.1.0
h11==0.14.0
hishel==0.1.1
httpcore==1.0.7
httpx==0.28.1
idna==3.10
installer==0.7.0
Jinja2==3.1.5
jmespath==1.0.1
kiwisolver==1.4.8
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.3
mkdocs-material-extensions==1.3.1
msgpack==1.1.0
mypy-extensions==1.0.0
numpy==2.2.1
packaging==24.2
paginate==0.5.7
pandas==2.2.3
pathspec==0.12.1
pbs-installer==2025.2.5
pdm==2.22.3
pillow==11.1.0
platformdirs==4.3.6
Pygments==2.19.1
pymdown-extensions==10.14.3
pyparsing==3.2.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-env==1.0.0
pytz==2024.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
redshift==0.0.1
redshift-connector==2.1.5
regex==2024.11.6
requests==2.32.3
resolvelib==1.1.0
rich==13.9.4
s3transfer==0.10.4
scramp==1.4.5
setuptools==75.8.0
shellingham==1.5.4
six==1.17.0
snakeviz==2.2.2
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.6
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.2
truststore==0.10.1
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2024.2
unearth==0.17.2
urllib3==2.3.0
virtualenv==20.29.2
watchdog==6.0.0
XlsxWriter==3.2.0
zstandard==0.23.0
